/*=-=-=-=-=-=-=-=-=-=-=- Global Css Start -=-=-=-=-=-=-=-=-=-=-=*/
img{max-width:100%;}
textarea:focus{border:none;outline:none;}
input{-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;-ms-appearance:none;appearance:none;border-radius:0px;}
textarea{-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;-ms-appearance:none;appearance:none;border-radius:0px;box-shadow:none;}
input[type="text"]:focus{border:none;outline:none;}
/*=-=-=-=-=-=-=-=-=-=-=- Global Css End -=-=-=-=-=-=-=-=-=-=-=*/
/*=-=-=-=-=-=-=-=-=-=-=-Fonts Start -=-=-=-=-=-=-=-=-=-=-=*/
@font-face{font-family:'AvenirLTStdMedium_0';src:url('../fonts/AvenirLTStdMedium.eot');src:url('../fonts/AvenirLTStdMedium.eot') format('embedded-opentype'), url('../fonts/AvenirLTStdMedium.woff2') format('woff2'), url('../fonts/AvenirLTStdMedium.woff') format('woff'), url('../fonts/AvenirLTStdMedium.ttf') format('truetype'), url('../fonts/AvenirLTStdMedium.svg#AvenirLTStdMedium') format('svg');}
@font-face{font-family:'poetsenoneregular';src:url('../fonts/PoetsenOne.woff2') format('woff2'), url('../fonts/PoetsenOne.woff') format('woff');font-weight:normal;font-style:normal;}
/*=-=-=-=-=-=-=-=-=-=-=-Fonts End -=-=-=-=-=-=-=-=-=-=-=*/
/*=-=-=-=-=-=-=-=-=-=-=- Quick Nav start -=-=-=-=-=-=-=-=-=-=-=*/
.quck-nav{background:#373737;padding:10px 0 60px 0;}
.quck-nav .contact-no{display:inline-block;padding:0 15px 0 0;}
.quck-nav .contact-no a{line-height:30px;color:#ffffff;font-size:12px;text-decoration:none;}
.quck-nav .contact-no a:hover{color:#02cbf7;}
.quck-nav .contact-no a .fa{padding:0 8px 0 0;}
.quck-nav .quck-right{float:right;width:auto;}
.quck-nav .quck-right .right-link{display:inline-block;padding:0 11px 0 10px;position:relative;}
.quck-nav .quck-right .right-link a{line-height:30px;color:#ffffff;font-size:12px;text-decoration:none;}
.quck-nav .quck-right .right-link a .fa{padding:0 5px 0 0;}
.quck-nav .quck-right .right-link a:hover{color:#02cbf7;}
.quck-nav .quck-right .right-link:last-child{padding:0 0 0 10px;}
.quck-nav .quck-right .right-link .language-list{position:absolute;top:28px;left:0px;padding:0px;background:#fff;min-width:140px;z-index:9999;display:none;border:solid 1px #ccc;border-radius:5px;margin-top:10px;}
.quck-nav .quck-right .right-link .language-list:after{position:absolute;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #fff;content:"";top:-10px;left:10px;}
.quck-nav .quck-right .right-link .language-list li{list-style:none;border-bottom:solid 1px #ccc;display:block;}
.quck-nav .quck-right .right-link .language-list li:last-child{border:none;}
.quck-nav .quck-right .right-link .language-list li a{color:#333;padding:0 10px;line-height:32px;font-size:14px;display:block;}
.quck-nav .quck-right .right-link .language-list li a:hover{color:#02cbf7;}
.quck-nav .quck-right .right-link .accout-link{position:absolute;top:28px;right:0px;padding:0px;background:#fff;min-width:140px;z-index:9999;border:solid 1px #ccc;border-radius:5px;margin-top:10px;display:none;}
.quck-nav .quck-right .right-link .accout-link:after{position:absolute;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #fff;content:"";top:-10px;right:10px;}
.quck-nav .quck-right .right-link .accout-link li{list-style:none;border-bottom:solid 1px #ccc;display:block;}
.quck-nav .quck-right .right-link .accout-link li:last-child{border:none;}
.quck-nav .quck-right .right-link .accout-link li a{color:#333;padding:0 10px;line-height:32px;font-size:14px;display:block;}
.quck-nav .quck-right .right-link .accout-link li a:hover{color:#02cbf7;}
/*=-=-=-=-=-=-=-=-=-=-=- Quck Nav end -=-=-=-=-=-=-=-=-=-=-=*/
/*=-=-=-=-=-=-=-=-=-=-=- Header start -=-=-=-=-=-=-=-=-=-=-=*/
#header{position:fixed;top:0;background:#fff;width:100%;z-index:9999;-moz-transition:all 0.5s ease-out 0s;-ms-transition:all 0.5s ease-out 0s;-o-transition:all 0.5s ease-out 0s;-webkit-transition:all 0.5s ease-out 0s;transition:all 0.5s ease-out 0s;}
#header .container{background:#fff;}
#header #nav-main{padding:28px 25px 0 25px;}
.navbar-nav > li{padding-bottom:31px;}
.navbar-nav > li > a{position:relative;padding-bottom:2px;}
.navbar-nav > li > a:hover:after{display:block;}
.navbar-nav > li > a:hover:before{display:block;}
.navbar-nav > li > a:after{position:absolute;bottom:0px;left:0px;width:100%;height:2px;background:#fe5969;content:"";display:none;}
.navbar-inverse .navbar-brand{padding-top:10px;max-width:250px;}
.navbar-nav > li.active > a:after{display:block;}
.navbar-nav > li > ul{position:absolute;top:100%;left:0px;background:#fff;border-top:solid 2px #fe5969;padding:0px;margin:0px;width:200px;display:none;box-shadow:0 5px 5px rgba(0, 0, 0, 0.2);}
.navbar-nav > li > ul:after{position:absolute;top:-10px;left:20px;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #fe5969;content:"";}
.navbar-nav > li > ul li{list-style:none;display:block;border-bottom:solid 1px #e0e0e0;}
.navbar-nav > li > ul li a{display:block;line-height:40px;padding:0 15px;font-size:16px;color:#333;text-decoration:none;}
.navbar-nav > li > ul li a:hover{color:#fe5969;}
.navbar-nav > li .arrow{display:none;}
#header .signIn-btn{float:right;padding:0 0 0 15px;}
#header .signIn-btn a{text-transform:uppercase;}
#header.fiexd{background:#fff;position:fixed;top:0px;left:0px;box-shadow:0 0 5px rgba(0,0,0,0.5);}
#header .cart-box{float:right;margin:6px 0 0 15px;cursor:pointer;}
#header .cart-box .fa{width:33px;line-height:33px;text-align:center;border-radius:50%;background:#c0c0c0;color:#fff;}
#header .cart-box .fa:hover{background:#fe5969;}
#header .search-box{float:right;margin:6px 0 0 15px;cursor:pointer;}
#header .search-box .fa{width:33px;line-height:33px;text-align:center;border-radius:50%;background:#c0c0c0;color:#fff;font-size:16px;}
#header .search-box .fa:hover{background:#fe5969;}
#header .container{position:relative;}
.navbar-nav > li.mega-menu{position:static;}

/*=-=-=-=-=-=-=-=-=-=-=- Header end -=-=-=-=-=-=-=-=-=-=-=*/
/*=-=-=-=-=-=-=-=-=-=-=- Banner start -=-=-=-=-=-=-=-=-=-=-=*/
.wapper {padding-top:  100px;}
.banner{position:relative; }
.banner.home-banner {
    background: url(../images/banner-img1.jpg);background-size: cover; padding: 300px 0px; z-index:0;
}
.banner.home-banner::after{background: rgba(0,0,0,0.5);position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;content: "";}
.banner-img{position:relative;}
.banner-img img{width:100%;}
.banner .banner-text{position:absolute;top:50%;left:0px;width:100%;text-align:center;z-index:9999;transform: translatey(-50%);}
.banner .banner-text p{display:block;margin:9px 0 0 0;font-size:30px;color:#ffffff;line-height:44px;}
.banner .search-box{display:inline-block;width:100%;max-width:520px;margin-top:52px;padding-right:60px;position:relative;}
.banner .search-box input[type="text"]{width:100%;height:60px;border:none;background:#fff;padding:20px 18px;line-height:20px;font-size:18px;color:#333333;}
.banner .search-box input[type="submit"]{position:absolute;top:0px;right:0px;width:60px;height:60px;border:none;background:url(../images/search-icon.png) no-repeat center center #02cbf7;}
.banner .search-box input[type="submit"]:hover{background-color:#fe5969;}
.banner .learning-btn{display:block;padding:42px 0 0 0;}
.banner .learning-btn .btn{border-radius:0px;padding:15px 35px;font-size:24px;}
.inner-page .banner-img{background-size:cover;background-position:50% 50%;background-repeat:no-repeat;min-height:250px;}
.inner-page .banner-img:after{position:absolute;top:0px;left:0px;width:100%;height:100%;background:rgba(0,0,0,0.5);content:"";}
.page-title{position:absolute;bottom:30%;left:0px;width:100%;text-align:center;}
.inner-page .page-title{bottom: inherit;top: 50%;transform: translateY(-50%);}
/*=-=-=-=-=-=-=-=-=-=-=- Banner end -=-=-=-=-=-=-=-=-=-=-=*/
/*=-=-=-=-=-=-=-=-=-=-=- Section title start -=-=-=-=-=-=-=-=-=-=-=*/
.section-title{text-align:center;display:block;}
.section-title h2{padding-bottom:20px;color:#02cbf7;line-height:50px;position:relative;}
.section-title h2:after{position:absolute;bottom:0px;left:50%;width:90px;margin-left:-45px;height:3px;background:#4d4d4d;content:"";}
.section-title h2:before{border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid #4d4d4d;content:"";position:absolute;bottom:3px;left:50%;margin-left:-5px;}
.section-title p{padding:19px 0 0 0;font-size:18px;color:#444;line-height:30px;display:inline-block;max-width:800px;}
.section-title.white h2{color:#fff;}
.section-title.white h2:after{background:#02cbf7;}
.section-title.white h2:before{border-bottom:5px solid #02cbf7;}
.section-title.white p{color:#fff;}
.section-title2{display:block;}
.section-title2 h2{position:relative;line-height:48px;color:#333333;font-size:40px;font-weight:bold;margin:0px;padding-bottom:26px;font-family:"Roboto",sans-serif;}
.section-title2 h2:after{position:absolute;bottom:0px;left:0px;width:100px;height:6px;background:#ffb241;content:"";}
/*=-=-=-=-=-=-=-=-=-=-=- Section title end -=-=-=-=-=-=-=-=-=-=-=*/
/*=-=-=-=-=-=-=-=-=-=-=- Home page1 start -=-=-=-=-=-=-=-=-=-=-=*/
/*-- markets --*/
.markets{background:#ececec;}
.wthree-heading h3,.agileits-top-heading h2{color:#212121;font-size:2.5em;margin:0;font-weight:600;text-transform:uppercase;letter-spacing:6px;}
.wthree-heading{text-align:center;}
.markets-grids{margin-top:30px;}
.agileits-icon-grid{padding:2em;background:#FFFFFF;box-shadow:0 0px 1px rgb(107, 107, 107), 0 1px 2px rgba(0,0,0,.24);}
.icon-left{float:none;width:70px;height:70px;text-align:center;padding:1.2em 0 0 0;margin:0 auto 1em;background:#02cbf7; transition:0.4s ease-in-out; -webkit-transition:0.4s ease-in-out; -moz-transition:0.4s ease-in-out; -ms-transition:0.4s ease-in-out;}
.agileits-icon-grid:hover .icon-left{transform:rotate(360deg);}
.icon-left i.fa{color:#FFFFFF;font-size:2em;}
.icon-right{float:none;width:100%;text-align:center;}
.icon-right h5{color:#212121;font-size:1em;margin:0;font-weight:700;text-transform:uppercase;letter-spacing:4px;}
.icon-right p{color:#999999;font-size:.9em;margin:1em 0 0 0;line-height:1.8em;}
.w3ls-markets-grid:nth-child(4),.w3ls-markets-grid:nth-child(5),.w3ls-markets-grid:nth-child(6){margin:3em 0 0 0;}
.markets.our-course a.btn{line-height:34px;padding:0 18px;font-size:16px;margin-top:15px;}
/*-- //markets --*/
.our-course{padding:60px 0;}
.our-course .section-title{padding-bottom:30px;}
.our-course .course-box{border:solid 1px #f1f1f1;margin-top:30px;}
.our-course .course-box .img{width:100%;position:relative;}
.our-course .course-box .img:after{position:absolute;top:0px;left:0px;width:100%;height:100%;background:url(../images/courses-bg.png) no-repeat bottom left;content:"";}
.our-course .course-box .img img{width:100%;}
.our-course .course-box .img .price{position:absolute;top:30px;left:-8px;background:#02cbf7;color:#fff;text-align:center;width:58px;line-height:40px;font-size:18px;font-weight:bold;border-radius:0 5px 5px 0;text-transform:uppercase;z-index:3;font-family:'Arima Madurai';}
.our-course .course-box .img .price:after{position:absolute;top:-8px;left:0px;content:"";border-left:8px solid transparent;border-bottom:8px solid #029ec0;}
.our-course .course-box .img .price.free{background:#fe5969;}
.our-course .course-box .img .price.free:after{border-bottom:8px solid #da3243}
.our-course .course-box .course-info{position:absolute;bottom:11px;width:100%;padding:0 20px;z-index:1;}
.our-course .course-box .course-info .date{display:inline-block;line-height:30px;color:#fff;font-size:14px;padding:0 19px 0 0;}
.our-course .course-box .course-info .date .fa{padding:0 7px 0 0;font-size:18px;}
.our-course .course-box .course-info .favorite{float:right;width:auto;}
.our-course .course-box .course-info .favorite .fa{color:#fff;line-height:30px;font-size:20px;}
.our-course .course-box .course-name{display:block;padding:12px 20px 6px 20px;line-height:30px;font-size:24px;color:#4d4d4d;font-family:'AvenirLTStdMedium_0';}
.our-course .course-box .course-name span{display:block;font-size:14px;color:#333;line-height:20px;padding-top:2px;}
.our-course .course-box .course-name span em{color:#888;font-style:normal;}
.our-course .course-box .comment-row{display:block;padding:17px 20px;background:#f9f9f9;border-top:solid 1px #f1f1f1;}
.our-course .course-box .comment-row .rating{width:75px;height:13px;margin-top:11px;background:url(../images/stare-blank.svg) repeat-x top left;position:relative;display:inline-block;vertical-align:top;margin-right:10px;}
.our-course .course-box .comment-row .rating .fill{position:absolute;top:0px;left:0px;height:100%;background:url(../images/stare-fille.svg) repeat-x top left;}
.our-course .course-box .comment-row .box{display:inline-block;padding:0 19px 0 0;font-size:14px;color:#4d4d4d;line-height:36px;vertical-align:top;}
.our-course .course-box .comment-row .box .fa{padding:0 7px 0 0;}
.our-course .course-box .comment-row .enroll-btn{float:right;}
.our-course .course-box .comment-row .enroll-btn .btn{line-height:34px;padding:0 18px;font-size:16px;}
.preparation{background:url(../images/preparation-bg.jpg) no-repeat 50% 50%;background-size:cover;padding:55px 0;background-attachment:fixed;}
.preparation .preparation-view{padding:92px 0 42px 0;}
.preparation .preparation-view .item{position:relative;padding:0 0 0 79px;}
.preparation .preparation-view .item .icon{position:absolute;top:0px;left:0px;}
.preparation .preparation-view .course-name{padding-bottom:25px;font-size:18px;color:#ffffff;line-height:28px;font-family:'poetsenoneregular';}
.preparation .preparation-view .course-name span{display:block;line-height:22px;font-size:14px;font-family:'AvenirLTStdLight_3';}
.preparation .preparation-view p{line-height:24px;margin:0px;min-height:168px;font-size:16px;color:#ffffff;}
.owl-dots{position:absolute;bottom:0px;left:0px;width:100%;text-align:center;}
.owl-dots .owl-dot{display:inline-block;width:20px;height:20px;border-radius:50%;border:solid 3px #02cbf7;margin:0 6px;}
.owl-dots .owl-dot.active{background:#02cbf7;}
.student-feedback{padding:55px 0;}
.student-feedback .feedback-slider{padding:38px 0 65px 0;text-align:center;}
.student-feedback .feedback-slider .item{padding:0 50px;}
.student-feedback .feedback-slider .student-img{display:inline-block;width:90px;height:90px;border:solid 5px #eef0f0;border-radius:50%;margin-bottom:24px;overflow:hidden;}
.student-feedback .feedback-slider .student-name{display:block;line-height:28px;font-size:18px;color:#4d4d4d;font-family:'AvenirLTStdMedium_0';}
.student-feedback .feedback-slider .student-designation{display:block;line-height:22px;font-size:16px;color:#02cbf7;margin-bottom:42px;}
.student-feedback .feedback-slider p{display:inline-block;width:100%;max-width:970px;line-height:24px;margin:0px;}
.student-feedback .feedback-slider p .fa{color:#bbbbbb;}
.student-feedback .feedback-slider .owl-prev{position:absolute;bottom:25%;left:0px;width:40px;line-height:40px;color:#02cbf7;font-size:40px;}
.student-feedback .feedback-slider .owl-next{position:absolute;bottom:25%;right:0px;width:40px;line-height:40px;color:#02cbf7;font-size:40px;}
.student-feedback .more-stories{display:block;text-align:center;}
.our-team{padding:55px 15px;background:url(../images/team-bg.png) repeat top left;}
.our-team .member-slider{padding:50px 0 83px 0;}
.our-team .member-info{padding:8px 40px 30px 100px;position:relative;border-right:dashed 1px #dddddd;}
.our-team .member-info .img{position:absolute;top:0px;left:17px;width:68px;height:68px;border-radius:50%;border:solid 2px #fff;overflow:hidden;}
.our-team .member-info p{font-size:16px;color:#666666;line-height:24px;margin:0px;}
.our-team .member-info .member-name{display:block;padding:25px 0 0 0;font-size:18px;color:#333333;font-family:'AvenirLTStdMedium_0';line-height:24px;}
.our-team .member-info .member-name span{display:block;color:#666666;font-size:14px;font-family:'AvenirLTStdLight_3';}
.graph-view{padding:80px 0 100px 0;}
.graph-view .graph-title{display:block;text-align:center;line-height:30px;font-size:16px;color:#4d4d4d;font-family:'AvenirLTStdMedium_0';padding-bottom:20px;}
.graph-view .graph-point{position:relative;padding:0 0 40px 50px;}
.graph-view .point-view{padding:68px 0 0 0;}
.graph-view .graph-point .fa{position:absolute;top:0px;left:0px;color:#02cbf7;font-size:24px;}
.graph-view .graph-point h4{display:block;line-height:24px;color:#02cbf7;font-size:16px;margin:0px;font-family:'poetsenoneregular';font-weight:normal;}
.graph-view .graph-point p{font-size:16px;color:#666666;line-height:24px;margin:0px;}
.start-learning{background:#02cbf7;padding:46px 0;}
.start-learning p{display:inline-block;vertical-align:top;line-height:50px;font-size:34px;color:#ffffff;font-family:'poetsenoneregular';margin:0px;}
.start-learning .btn{float:right;background:#4d4d4d;border-radius:0px;}
.start-learning .btn:hover{background:#fe5969;}
.contact-block .contact-form{width:50%;padding:80px 30px 60px 30px;}
.contact-block .contact-form .section-title{text-align:left;}
.contact-block .contact-form .section-title h2:after{left:0px;margin:0px;}
.contact-block .contact-form .section-title h2:before{left:42px;margin:0px;}
.contact-block .contact-form .form-filde{padding:39px 0 0 0;}
.contact-block .contact-form .input-box{display:block;padding-bottom:20px;}
.contact-block .contact-form .input-box input{width:100%;border:solid 1px #e2e2e2;background:#f9f9f9;padding:10px 12px;height:42px;line-height:20px;font-size:14px;color:#666;}
.contact-block .contact-form .input-box textarea{width:100%;border:solid 1px #e2e2e2;background:#f9f9f9;padding:10px 12px;line-height:20px;font-size:14px;color:#666;min-height:190px;resize:none;}
.contact-block{position:relative;display:inline-block;width:100%;}
.contact-block .map{position:absolute;width:50%;top:0px;right:0px;height:100%;}
/*=-=-=-=-=-=-=-=-=-=-=- Home page1 end -=-=-=-=-=-=-=-=-=-=-=*/
/*=-=-=-=-=-=-=-=-=-=-=- Footer start -=-=-=-=-=-=-=-=-=-=-=*/
#footer{background:#364247;padding:0 0 19px 0;}
#footer .footer-top{background:#424e55;padding:30px 0;}
#footer .footer-top h5{display:block;font-size:20px;color:#d1d1d1;line-height:30px;margin:0px;font-weight:bold;padding-bottom:20px;}
#footer .footer-link{display:inline-block;padding:0 0 0 0;margin:0px;}
#footer .footer-link li{list-style:none;padding:0;position:relative;}
#footer .footer-link li a{display:block;line-height:32px;color:#d1d1d1;font-size:14px;text-decoration:none;}
#footer .footer-link li a:hover{color:#fff;}
#footer .course-slide{border-bottom:solid 1px #d1d1d1;padding:0 0 0 76px;min-height:75px;position:relative;padding-bottom:10px;margin-bottom:15px;}
#footer .course-slide:last-child{border:none;}
#footer .course-slide .img{position:absolute;top:4px;left:0px;width:60px;}
#footer .course-slide p{font-size:14px;line-height:24px;color:#d1d1d1;margin:0px 0 5px 0;}
#footer .course-slide p a{color:#d1d1d1;text-decoration:none;}
#footer .course-slide p a:hover{color:#02cbf7;}
#footer .course-slide .price{display:block;line-height:24px;color:#02cbf7;font-size:14px;font-family:'Arima Madurai';font-weight:bold;text-transform:uppercase;}
#footer .contact-view{display:block;}
#footer .contact-view .contact-slide{display:block;padding-bottom:10px;}
#footer .contact-view .contact-slide p{position:relative;padding:0 0 0 30px;line-height:30px;font-size:14px;color:#d1d1d1;margin:0px;}
#footer .contact-view .contact-slide p .fa{position:absolute;top:0px;left:0px;line-height:30px;font-size:20px;}
#footer .contact-view .contact-slide p a{color:#d1d1d1}
#footer .contact-view .contact-slide p a:hover{color:#fff;}
#footer .copy-right{display:block;padding:15px 0 0 0;}
#footer .copy-right p{display:inline-block;margin:0px;line-height:32px;color:#c2c0c0;font-size:14px;padding:0 0 0 0;}
#footer .copy-right .footer-link li{display:inline-block;padding:0 8px 0 5px;}
#footer .copy-right .footer-link li:after{position:absolute;top:10px;height:14px;right:0px;width:1px;content:"";background:#7e9fa5;}
#footer .copy-right .footer-link li:last-child:after{display:none;}
#footer .social-media{display:inline-block;text-align:right;padding:15px 0 0 0;width:100%;}
#footer .social-media ul{padding:0px;margin:0px;display:inline-block;}
#footer .social-media ul li{list-style:none;padding:0 0 0 20px;display:inline-block;}
 #footer .social-media ul li a{display:block;text-decoration:none;}
#footer .social-media ul li a .fa{display:block;text-align:center;line-height:30px;color:#fff;font-size:20px;}
#footer .social-media ul li a:hover .fa{color:#02cbf7;}
/*=-=-=-=-=-=-=-=-=-=-=- Footer end -=-=-=-=-=-=-=-=-=-=-=*/
/*=-=-=-=-=-=-=-=-=-=-=- All trasform css start -=-=-=-=-=-=-=-=-=-=-=*/
.btn2,.btn2:before,.btn2:after,.banner .search-box input[type="submit"],#footer .social-media ul li a .fa ,.courses-view .filter-row .view-type .fa,.pagination ul li a,.about-team .member-box .img:after,.about-team .member-box .sosiyal-mediya li a,.about-team .member-box .sosiyal-mediya,.our-teacher .teacher-box .img:after,.our-teacher .teacher-box,.our-teacher .teacher-box .sosiyal-mediya li a,.our-teacher .teacher-box .sosiyal-mediya,.right-slide .search-box input[type="submit"],.right-slide .keyword-list li a,.teacher-profile .sosiyal-share ul li a .fa,.blog-details .comment-view .comment-box:after,.event-page .event-box:after,.event-page .event-box:before,.event-page .event-box,.event-view .speakers-box .speakers-img img,.gallery-view .gallery-menu ul li:after,.gallery-view .gallery-menu ul li:before,.gallery-grid .img:after,.gallery-grid .img .hover-thumb,.right-slide .teacher-box .img:after,.right-slide .teacher-box .sosiyal-mediya,.reviews .rating-info .rating-slide .bar .fill,.forums-member .member-box .img:after,.forums-member .member-box .view-btn,.group-tab-view .tab-menu ul li:after,.banner.style2 .info-form .submit-box input,.archived-course .course-material ul li a:after{-moz-transition:all 0.5s ease-in-out 0s;-ms-transition:all 0.5s ease-in-out 0s;-o-transition:all 0.5s ease-in-out 0s;-webkit-transition:all 0.5s ease-in-out 0s;transition:all 0.5s ease-in-out 0s;}
/*=-=-=-=-=-=-=-=-=-=-=- All trasform css start -=-=-=-=-=-=-=-=-=-=-=*/
/*=-=-=-=-=-=-=-=-=-=-=- Button style2 start -=-=-=-=-=-=-=-=-=-=-=*/
.btn2{font-size:14px;font-weight:bold;line-height:40px;padding:0 30px;position:relative;text-transform:uppercase;border:none;background:none;border-top:solid 1px #02cbf7;border-bottom:solid 1px #02cbf7;display:inline-block;position:relative;text-decoration:none;color:#02cbf7;}
.btn2:before,.btn2:after{border-left:1px solid #02cbf7;position:absolute;height:16px;content:"";}
.btn2:before{left:0;top:0;}
 .btn2:after{right:0;bottom:0;}
 .btn2:hover:before,.btn2:hover:after{height:100%;}
.btn2:hover{background:#02cbf7;text-decoration:none;color:#fff;}
/*=-=-=-=-=-=-=-=-=-=-=- Button style2 end -=-=-=-=-=-=-=-=-=-=-=*/
/*=-=-=-=-=-=-=-=-=-=-=- Breadcrumb start -=-=-=-=-=-=-=-=-=-=-=*/
.breadcrumb{background:#f6f6f6;padding:15px 0;margin:0px;}
.breadcrumb.white-bg{background:#fff;}
.breadcrumb ul{padding:0px;margin:0px;}
.breadcrumb ul li{list-style:none;position:relative;padding:0 15px 0 10px;display:inline-block;}
.breadcrumb ul li:after{position:absolute;top:0px;right:0px;line-height:26px;color:#666;content:"\f105";font-family:'FontAwesome';}
.breadcrumb ul li:first-child{padding-left:0px;}
.breadcrumb ul li:last-child:after{display:none;}
.breadcrumb ul li a{line-height:26px;font-size:14px;color:#666;text-decoration:none;text-transform:uppercase;}
.breadcrumb ul li:hover a{color:#02cbf7;}
/*=-=-=-=-=-=-=-=-=-=-=- Breadcrumb end -=-=-=-=-=-=-=-=-=-=-=*/
/*=-=-=-=-=-=-=-=-=-=-=- Login & Register start -=-=-=-=-=-=-=-=-=-=-=*/
.login-view{padding:50px 0;}
.login-view .col-sm-6{padding:0 40px;}
.login-view .col-sm-6:last-child{border-left:solid 1px #e0e0e0;}
.login-view .section-title{margin-bottom:30px;}
.login-view .input-box{margin-bottom:20px;}
.login-view .input-box input{width:100%;height:42px;line-height:20px;font-size:14px;color:#333;padding:10px 15px;border:solid 1px #e0e0e0;}
.login-view .check-slide{display:block;padding-bottom:20px;}
.login-view .check-slide .label_check{padding:0px;margin:0px;line-height:30px;font-size:15px;color:#444;padding:0 0 0 30px;background:url(../images/check-boxImg.png) no-repeat left 8px;font-weight:normal;}
.login-view .check-slide .right-link{float:right;width:auto;}
.login-view .check-slide .right-link a{line-height:30px;color:#444;font-size:15px;text-decoration:none;}
.login-view .check-slide .right-link a:hover{color:#02cbf7;}
.login-view .check-slide .label_check.c_on{background-position:left -91px;}
.login-view .check-slide .label_check input{position:absolute;left:-999999px;}
.login-view .submit-slide{display:block;text-align:left;padding-bottom:15px;}
.login-view .submit-slide .btn{padding:5px 20px;}
.login-view .sosiyal-login{display:block;width:100%;padding:80px 0 40px 0;margin:0 auto;max-width:700px;}
.login-view .sosiyal-login a{text-align:center;line-height:40px;border-radius:5px;text-align:left;padding-left:50px;font-size:16px;color:#fff;text-decoration:none;display:block;position:relative;margin-bottom:15px;}
.login-view .sosiyal-login a .fa{position:absolute;top:8px;left:0px;width:40px;line-height:24px;border-right:solid 1px #e0e0e0;font-size:20px;text-align:center;}
.login-view .sosiyal-login .col-sm-6{border:none;padding:0 15px;}
.login-view .sosiyal-login a.facebook{background:#3b5998;}
.login-view .sosiyal-login a.facebook:hover{background:#2d4373;}
.login-view .sosiyal-login a.google-pluse{background:#dd4b39;}
.login-view .sosiyal-login a.google-pluse:hover{background:#c23321;}
.login-view .sosiyal-login a.twitter{background:#55acee;}
.login-view .sosiyal-login a.twitter:hover{background:#2795e9;}
.login-view .sosiyal-login a.linkedin{background:#007bb6;}
.login-view .sosiyal-login a.linkedin:hover{background:#005983;}
/*=-=-=-=-=-=-=-=-=-=-=- Login & Register end -=-=-=-=-=-=-=-=-=-=-=*/
/*=-=-=-=-=-=-=-=-=-=-=- Quiz Start -=-=-=-=-=-=-=-=-=-=-=*/
.quiz-view{background:#f5f5f5;padding:50px 0;}
.quiz-view .quiz-title{padding-bottom:50px;}
.quiz-view .quiz-title h2{margin-bottom:10px;}
.quiz-view .quiz-title p{font-size:20px;line-height:30px;color:#333;margin:0px;}
.quiz-view .quiz-time{display:inline-block;width:100%;}
.quiz-view .qustion-list{padding:30px 0 0 0;}
.quiz-view .qustion-list .qustion-slide{padding:13px 0 13px 30px;position:relative;}
.quiz-view .qustion-list .qustion-slide:after{position:absolute;top:0px;left:5px;height:100%;width:4px;background:#e4e2e2;content:"";}
.quiz-view .qustion-list .qustion-slide .qustion-number{display:inline-block;line-height:22px;color:#666;font-size:15px;position:relative;}
.quiz-view .qustion-list .qustion-slide .qustion-number:after{position:absolute;top:2px;left:-33px;width:20px;height:20px;content:"";background:#e4e2e2;border-radius:50%;text-align:center;font-size:12px;color:#fff;font-family:FontAwesome;z-index:1;line-height:20px;}
.quiz-view .qustion-list .qustion-slide span{float:right;width:24px;line-height:24px;text-align:center;background:#e4e2e2;font-size:12px;border-radius:50%;}
.quiz-view .qustion-list .qustion-slide.active:after{background:#02cbf7;}
.quiz-view .qustion-list .qustion-slide.active .qustion-number{color:#02cbf7;}
.quiz-view .qustion-list .qustion-slide.active .qustion-number:after{background:#02cbf7;}
.quiz-view .qustion-list .qustion-slide.active span{background:#02cbf7;color:#fff;}
.quiz-view .qustion-list .qustion-slide.fill:after{background:#fe5969;}
.quiz-view .qustion-list .qustion-slide.fill .qustion-number{color:#fe5969;}
.quiz-view .qustion-list .qustion-slide.fill .qustion-number:after{background:#fe5969;content:"\f00c";}
.quiz-view .qustion-list .qustion-slide.fill span{background:#fe5969;color:#fff;}
.quiz-view .qustion-main{padding:0 0 0 30px;}
.quiz-view .qustion-box{background:#fff;padding:30px;}
.quiz-view .qustion-box .qustion{border-bottom:solid 2px #e0e0e0;line-height:30px;padding-bottom:10px;color:#444444;font-size:18px;}
.quiz-view .qustion-box .ans{padding:20px 0 0 0;}
.quiz-view .qustion-box .ans .ans-slide{display:block;padding-bottom:10px;}
.quiz-view .qustion-box .ans .ans-slide .label_radio{display:inline-block;padding-left:25px;line-height:30px;background:url(../images/radio-img.png) no-repeat left 9px;font-size:16px;color:#444;font-weight:normal;}
.quiz-view .qustion-box .ans .ans-slide .label_radio input{position:absolute;left:-999999px;}
.quiz-view .qustion-box .ans .ans-slide .label_radio.r_on{background-position:left -98px;}
.quiz-view .qustion-box .save-btn{display:block;padding-top:15px;}
.quiz-view .qustion-box .btn-slide{display:block;padding-top:30px;}
.quiz-view .qustion-box .btn-slide .btn{padding:5px 15px;font-size:30px;text-transform:capitalize;margin:0 15px 0 0;}
.quiz-view .submit-quiz{padding:30px 0 0 0;text-align:right;}
.quiz-view .submit-quiz .btn{text-transform:uppercase;background:#fe5969;}
/*=-=-=-=-=-=-=-=-=-=-=- Quiz End -=-=-=-=-=-=-=-=-=-=-=*/
/*=-=-=-=-=-=-=-=-=-=-=- Quiz Result Start -=-=-=-=-=-=-=-=-=-=-=*/
.quiz-result{padding:20px;margin:0 0 0 30px;background:#fff;}
.quiz-result h3{position:relative;padding-bottom:10px;display:inline-block;font-family:"Roboto",sans-serif;}
.quiz-result h3:after{position:absolute;bottom:0px;left:0px;width:30px;height:2px;background:#02cbf7;content:"";}
.quiz-result .result-info{display:block;width:100%;padding:30px 0 0 0;}
.quiz-result .result-info .info-slide{display:block;width:100%;padding-bottom:10px;}
.quiz-result .result-info .info-slide p{display:block;margin:0px;font-size:18px;color:#666;line-height:30px;}
.quiz-result .result-info .info-slide p span{float:right;}
.quiz-result .leaderboard{padding:30px 0 0 0;}
.quiz-result .leaderboard h3{margin-bottom:30px}
.quiz-result .qustion-review{display:block;padding-bottom:10px;}
.quiz-result .qustion-review p{display:block;margin:0px;font-size:15px;color:#666;line-height:24px;}
.quiz-result .qustion-review p span{float:right;}
/*=-=-=-=-=-=-=-=-=-=-=- Quiz Result End -=-=-=-=-=-=-=-=-=-=-=*/
